<html>
    <head>
        <title>Pokusný blog</title>
    </head>
    <body>
      <div>
        <h1><strong><a href="">Pokusný blog</a></strong></h1>
      </div>
      <div>
        <h6>Publikováno: 08.03.2019</h6>
        <h3><a href="">První příspěvek</a></h3>
        <p>V oblasti desktopu je trendem posledních let zesložiťování hardwaru. Začalo to dedikovanými grafikami, které ale ze začátku stály tak trochu bokem. Poslední generace notebooků je ale čím dál více integrují se zbytkem notebooku a pokud jej budete chtít naplno podporovat, bude muset váš systém zvládat plynulé přepínání mezi grafikami, routování výstupů apod. Náš tým pro grafické ovladače má pravidelné schůzky s velkými výrobci komponent a finálních notebooků a vždycky se jim orosí čela, když se dozví plány a specifikace na další 2–3 roky dopředu, protože to pro ně bude představovat obrovské množství práce nové generace notebooků plnohodnotně podporovat.</p>
        <p>To je taky hlavní důvod, proč se tak tlačí na nasazení Waylandu. <br>X.Org se narodil před 35 lety do doby se zcela jiným hardwarem a požadavky. I když se z něj časem celá řada věcí přesunula do jiných částí systému a on se stal „jen“ display serverem, bylo s ním těžší a těžší plnit požadavky současnosti. Navíc trpí nízkým „bus factorem“, protože na světě existuje jen pár lidí, kteří opravdu ví, jak funguje a dokáží do něj implementovat nové věci. To je důvod, proč už jsme před časem přešli na strategii „Wayland First“, kdy se nové věci implementují primárně pro něj. Pro X.Org buď dodatečně nebo vůbec.</p>
      </div>


    </body>
</html>
